//map
$notPri:(
    vista:grid,
    tamano: 50%
);


.Principal{
    margin-top: 20px;
    display: grid;
    margin-bottom: 20px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
//EXTEND
.main{
    @extend .Principal;
}


.noticiaPrincipal{
    width: map-get($notPri, tamano);
    display: map-get($notPri, vista);
    grid-template-columns: 1fr 1fr;

        //MIXIN
    @mixin textoH1 {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        color: white;
        font-size: 32px;
        animation-name: headShake;
        animation-duration: 2s;
    }

    .noticiaPri{
        margin-left: 15px;
        display: grid;
        grid-template-columns: 4 / 4;
        width: 100%;
    }   

    .notPriImg{
        width: 500px;
    }

    .notPriImg:hover{
        filter: grayscale(80%);
    }

    .notPriA{
        text-decoration: none;
    }

    .notPriH1{
        @include textoH1;
    }

    .notPriP{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: white;
        text-align: justify;
        width: 500px;
    }
}/*CIERRE notprincipal*/


.main__noticiaSecundaria{
    margin-left: 20px;
    display: grid;

    .main__noticiaSecundaria__a{
        text-decoration: none;
    }
    
    .main__noticiaSecundaria__h1{
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        color: white;
        width: 250px;
    }
    
}

.main__noticiaSecundaria__img{
    height: 400px;
    width: 250px;
}

.main__noticiaSecundaria__img:hover{
    filter: grayscale(80%);
}

.imagenPie{
    margin-left:512px;
}

/* FIN ESTILOS CONTENIDO PRINCIPAL*/

/*INICIO ESTILOS 2 NOTICIAS Y ASIDE*/
.noticiasSec{
    display: flex;
    grid-template-columns: 1fr;

    .notXDos{
        width: auto;
        display: grid;
        margin-left: 20px;
    }
    
    .notXDos__img:hover{
        filter: grayscale(80%);
    }
    
    
    .notXDos__a{
        text-decoration: none;
    }
    
    .notXDos__h1{
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        color: white;
        font-size: 20px;
        width: 240px;
        margin-bottom: 20px;
    }
    
}

.notXDos__img{
    height: 180px;
    width: 240px;
}

/*ASIDE*/
.main__aside{
    margin-left: 15px;
    display: grid;
    animation-name: flipOutY;
    animation-duration: 2s;

    .main__aside__img{
        width: 180px;
        height:220px;
    }
}
/*fin ASIDE*/
/*FIN ESTILOS 2 NOTICIAS Y ASIDE*/

/*INICIO 4 NOTICIAS GENERALES*/
.generales{
    display: grid;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 30px;
}
.noticiasGenerales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    .noticiasGenerales__a{
        text-decoration: none;
    }
    

    .noticiasGenerales__img:hover{
        filter: grayscale(80%);
    }
    
    
    .noticiasGenerales__h1{
        font-family: 'Poppins', sans-serif;
        color: white;
        width: 280px;
        font-weight: bolder;
    }
}

.noticiasGenerales__img{
    width: 280px;
    height: 220px;
}
/*FIN NOTICIAS GENERALES*/

/* INICIO MEDIAQUERIES INDEX*/
@media screen and (max-width: 400px){
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: stretch;
        justify-items: stretch;
        height: 100%;
        width: 100%;
        min-height: 500px;
    }

    #menu span {
        background-image: url("../assets/navigation.png");
    }  

    nav{
        background-color: white;
        top: 0px;
        height: 64px;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    /* margin-bottom: 10px;*/
    }//Fin NAV
    
    #logo {
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
        float: left;
        display: flex;
        width: 120px;
    }      

    #logo2 {
        height: 25px;
        width: 75px;
        float: left;
        display: flex;
        flex-direction: row;
    }
    
    #logo2 img {
        height: 40px;
        width: 40px;
        margin-left: 10px;
    }
    
    /*menu*/
    #menu {
        display: grid;  
        list-style: none;
        float: left;
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: white;
        margin-top: 8%;
        width: 100%;
        height: auto;

        /* margin-bottom: 10px;*/
        ul {
            list-style: none;
            display: grid;
            /*Sacamos los puntos de los ul li*/
        }

        
        li {
            font-size: 16px;
            padding: 15px 5px;
        }
    } /**cirre menu*/ 
    
    .main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: stretch;
        justify-items: stretch;
        margin-top: 40px;
    }
    
    .noticiaPrincipal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: start;
        justify-items: start;

        .noticiaPri{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            align-items: start;
            justify-items: start;
        }
    
   
        .notPriH1{
            font-family: 'Roboto Slab', serif;
            color: white;
            font-size: 12px;
            margin-bottom: 10px;
        }
    
        .notPriP{
            display: none;
        }
    
}
.main__aside{
    display: none;
}

.notPriImg{
    height: 180px;
    width: 100%;
    max-width: 240px;
}

    .main__noticiaSecundaria__img{
        height: 180px;
        width: 100%;
        max-width: 240px;
    }

    .main__noticiaSecundaria__h1{
        font-family: 'Roboto Slab', serif;
        color: white;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .notXDos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: start;
        justify-items: start;
    }

    .notXDos__img{
        height: 180px;
        width: 100%;
        max-width: 240px;
    }

    .notXDos__h1{
        font-family: 'Roboto Slab', serif;
        color: white;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .noticiasGenerales{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: start;
        justify-items: start;
    }

    .noticiasGenerales__h1{
        font-family: 'Roboto Slab', serif;
        color: white;
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .noticiasGenerales__img{
        height: 180px;
        width: 100%;
        max-width: 240px;
    }

}/*CIERRE MEDIA QUERIE MAX WIDTH 450PX*/

/*MEDIA PARA DISPOSITIVOS MOVILES DE HASTA 600PX*/
@media (min-width:401px) and (max-width: 600px) {
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: stretch;
        justify-items: stretch;
        height: 100%;
        width: 100%;
        min-height: 500px;
    }

    #menu span {
        background-image: url("../assets/navigation.png");
    }  

    nav{
        background-color: white;
        top: 0px;
        height: 64px;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    /* margin-bottom: 10px;*/
    }//Fin NAV
    
    #logo {
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
        float: left;
        display: flex;
        width: 140px;
    }      

    #logo2 {
        height: 45px;
        width: 95px;
        float: left;
        display: flex;
        flex-direction: row;
    }
    
    #logo2 img {
        height: 50px;
        width: 50px;
        margin-left: 10px;
    }
    
    /*menu*/
    #menu {
        display: grid;  
        list-style: none;
        float: left;
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: white;
        margin-top: 8%;
        width: 100%;
        height: auto;

        ul {
            list-style: none;
            display: grid;
            /*Sacamos los puntos de los ul li*/
        }

        li {
            font-size: 16px;
            padding: 15px 5px;
        }
    } /**cirre menu*/ 
    
    .main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: stretch;
        justify-items: stretch;
        margin-top: 40px;
    }
    
    .noticiaPrincipal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: start;
        justify-items: start;
    }
    
    .noticiaPri{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: start;
        justify-items: start;
        margin-top: 20px;

        .notPriImg{
            width: 400px;
            height: 250px;
            max-width: 400px;
        }
    
        .notPriH1{
            font-family: 'Roboto Slab', serif;
            color: white;
            font-size: 18px;
            margin-bottom: 10px;
        }
    
        .notPriP{
            display: none;
        }
    
    }

    .main__aside{
        display: none;
    }

    .main__noticiaSecundaria__img{
        width: 400px;
        height: 250px;
        max-width: 400px;
    }

    .main__noticiaSecundaria__h1{
        font-family: 'Roboto Slab', serif;
        color: white;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .notXDos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: start;
        justify-items: start;
    }

    .notXDos__img{
        width: 400px;
        height: 250px;
        max-width: 400px;
    }

    .notXDos__h1{
        font-family: 'Roboto Slab', serif;
        color: white;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .noticiasGenerales{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: start;
        justify-items: start;

        .noticiasGenerales__h1{
            font-family: 'Roboto Slab', serif;
            color: white;
            font-size: 18px;
            margin-bottom: 10px;
        }
        
        .noticiasGenerales__img{
            width: 400px;
            height: 250px;
            max-width: 400px;
        }
    }


} /*CIERRE MEDIAQUERI MAX WIDTH 600PX*/

/*inicio MEDIA QUERIES 601 A 900 PX*/
@media (min-width:601px) and (max-width:900px){
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: stretch;
        justify-items: stretch;
        height: 100%;
        width: 100%;
    }

    #menu span {
        background-image: url("../assets/navigation.png");
    }  

    nav{
        background-color: white;
        top: 0px;
        height: 64px;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    /* margin-bottom: 10px;*/
    }//Fin NAV
    
    #logo {
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
        float: left;
        display: flex;
        width: 180px;
    }      

    #logo2 {
        height: 45px;
        width: 65px;
        float: left;
        display: flex;
        flex-direction: row;
    }
    
    #logo2 img {
        height: 50px;
        width: 50px;
        margin-left: 10px;
    }
    
    /*menu*/
    #menu {
        display: grid;  
        list-style: none;
        float: left;
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: white;
        margin-top: 8%;
        width: 100%;
        height: auto;

        ul {
            list-style: none;
            display: grid;
            /*Sacamos los puntos de los ul li*/
        }

        li {
            font-size: 16px;
            padding: 15px 5px;
        }
    } /**cirre menu*/ 


    .main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .noticiaPri{
        width: 50%;
        margin-left: 40px;
        margin-bottom: 30px;
        margin-top: 50px;

        .notPriImg{
            width: 100%;
        }
    
        .notPriH1{
            font-family: 'Roboto Slab', serif;
            color: white;
            font-size: 36px;  
        }
    
        .notPriP{
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: bold;
            color: white;
            text-align: justify;
        }
    }

    .main__noticiaSecundaria{
        display: none;
    }

    .main__aside{
        display: none;
    }

    .noticiasSec{
        display: none;
    }

    .notGenResponsive{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    .noticiasGenerales__img{
        height: 180px;
        width: 240px;
    }

    .divResponsive{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}/*Cierre MEDIA QUERIES 601 A 900 PX*/
/* FIN MEDIAQUERIES INDEX*/


/*INICIO MEDIA QUERIES MAS DE 900PX A 1024*/
@media (min-width:901px) and (max-width:1024px){
    body{
        display: grid;
        height: 100%;
        width: 100%;
    }

    #menu span {
        background-image: url("../assets/navigation.png");
    }  

    nav{
        background-color: white;
        top: 0px;
        height: 64px;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    /* margin-bottom: 10px;*/
    }//Fin NAV
    
    #logo {
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
        float: left;
        display: flex;
        width: 180px;
    }      

    #logo2 {
        height: 45px;
        width: 65px;
        float: left;
        display: flex;
        flex-direction: row;
    }
    
    #logo2 img {
        height: 50px;
        width: 50px;
        margin-left: 10px;
    }
    
    /*menu*/
    #menu {
        float: left;
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: white;
        margin-top: 8%;
        width: 100%;
        height: auto;

        ul {
            list-style: none;
            display: flex;
            /*Sacamos los puntos de los ul li*/
        }

        li {
            font-size: 16px;
            padding: 15px 5px;
        }
    } /**cirre menu*/ 


    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;  
        margin-top: 80px;
    }


    .noticiaPri{
        width: 500px;
        margin-right: 15px;


    
        .notPriH1{
            font-family: 'Roboto Slab', serif;
            color: white;
            font-size: 28px;
            margin-left: 15px;
        }
    
        .notPriP{
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: bold;
            color: white;
            text-align: justify;
            margin-left: 15px;
            width: 450px;
        }
    }

    .notPriImg{
        width: 100%;
        margin-left: 15px;
    }

    .main__noticiaSecundaria{
        width: 200px;
        padding-right: 30px;

        .main__noticiaSecundaria__img{
            width: 80%;       
        }
        
        .notXDos{
            width: 250px;
        }
    
        .notXDos__img{
            width: 90%;
        }

        .main__noticiaSecundaria__h1{
            font-family: 'Roboto Slab', serif;
            color: white;
            font-size: 28px;
            margin-right: 10px;
            margin-bottom: 60px;
        }
    }

    .main__aside{
        display: none;
    }

    .generales{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: stretch;
        margin-left: 15px;

        .noticiasGenerales__img{
            width: 70%;
            height: 70%;
        }
    
        .noticiasGenerales__articulos{
            width: 300px;
            margin-left: 50PX;
        }
        .noticiasGenerales__h1{
            font-family: 'Roboto Slab', serif;
            color: white;
            font-size: 20px;
        }
    }

    .oculta{
        display: none;
    }
}
/*fin mediaqueries mas de 900 a 1024*/
