*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid{
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

body{
    background-color: $colorFondo;
    overflow-x: hidden;
    width: 100%;
}

.carrusel{
    width: 60%;
    margin-right: 40%;
}

.divResponsive{
    display: none;
}

.menu-responsive{
    display: none;
}
